.itemCard {
  width: 30%;
  margin-bottom: 3%;
  border: 0;
  text-align: center;
}

.itemLink {
  color: black;
  cursor: pointer;
}

.itemLink:hover {
  color: #f39b14;
}

.advantagesImg {
  margin-top: 5%;
  width: 150px;
}

.carouselBtn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #f1f1f1;
  color: black;
}
.carouselBtn:hover {
  background-color: #f39b14;
  color: white;
  cursor: pointer;
}

.round {
  border-radius: 50%;
}
